.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(../../landing/Images/logo-cauadro.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 1%;
}
.email, .password{
    height: auto;
    overflow: visible;
}
.email div, .password div{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: #fff;
}
.email label, .password label{
    top:-8px;
}
.button{
    width: 50%;
    border-radius: 2em !important;
    background-color: #F6B232 !important;
    color: #fff !important;
}
.adorment{
    height: 100%;
    width: auto;
}

/* breackpoint movil */
@media screen and (max-width:576px){
    .card-login{
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 250px;
        background-size: 100% 80%
    }
    .logoLogin{
        width: 70%;
        height: auto;
        max-width: 250px;
    }
    .Form{
        width: 85%;
        height: 75%;
        align-items: center;
        justify-content: space-evenly;
    }
    .email, .password{
        width: 90%;
        height: 10%;
    }
    .error{
        height: 10%;
        min-height: 67px;
    }
    /*Styles Recaptcha*/
    #rc-imageselect, .g-recaptcha {
        display: inline; 
    }
         
    #rc-imageselect{
        max-width: 100%;
    }
         
    .g-recaptcha>div>div{
        width: 100% !important;
        height: 78px;
        transform:scale(0.77); 
        --webkit-transform:scale(0.77);
        text-align: center;
        position: relative;
    }

}
@media screen and (min-width: 577px )and (max-width:768px){
    .card-login{
        width: 60%;
        height: 80%;
        background-size: 100% 100%;
        justify-content: center;
    }
    .logoLogin{
        width: 90%;
        height: auto;
        max-width: 287px;
    }
    .Form{
        width: 85%;
        height: 85%;
        align-items: center;
        justify-content: space-evenly;
    }
    .email, .password{
        width: 90%;
        height: 10%;
    }
    .email label, .password label{
        top:0px;
        font-size: 1.2em;
    }
    .error{
        height: 10%;
        min-height: 67px;
    }
    .button{
        height: 10%;
        max-height: 70px;
        font-size: 1.2em !important
    }
    /*Styles Recaptcha*/
    #rc-imageselect, .g-recaptcha {
        display: inline; 
    }
         
    #rc-imageselect{
        max-width: 100%;
    }
         
    .g-recaptcha>div>div{
        width: 100% !important;
        height: 78px;
        transform:scale(0.77); 
        --webkit-transform:scale(0.77);
        text-align: center;
        position: relative;
    }

}
@media screen and (min-width:769px) and (max-width:992px){
    .card-login{
        width: 60%;
        height: 80%;
        background-size: 100% 100%;
        justify-content: center;
    }
    .logoLogin{
        width: 90%;
        height: auto;
        max-width: 287px;
    }
    .Form{
        width: 85%;
        height: 85%;
        align-items: center;
        justify-content: space-evenly;
    }
    .email, .password{
        width: 90%;
        height: 10%;
    }
    .email label, .password label{
        top:0px;
        font-size: 1.2em;
    }
    .error{
        height: 10%;
        min-height: 67px;
    }
    .error p{
        height: 50%;
    }
    .button{
        height: 10%;
        max-height: 70px;
        font-size: 1.2em !important
    }
    /*Styles Recaptcha*/
    #rc-imageselect, .g-recaptcha {
        display: inline; 
    }
         
    #rc-imageselect{
        max-width: 100%;
    }
         
    .g-recaptcha>div>div{
        width: 100% !important;
        height: 78px;
        transform:scale(0.77); 
        --webkit-transform:scale(0.77);
        text-align: center;
        position: relative;
    }

}
@media screen and (min-width:993px) and (max-width:1450px){
    .card-login{
        height: 80%;
        justify-content: center;
        width: 40%;
        background-size: 80%;
    }
    .logoLogin{
        width: 70%;
        height: auto;
        max-width: 380px;
    }
    .Form{
        width: 65%;
        height: 85%;
        align-items: center;
        justify-content: space-evenly;
    }
    .email, .password{
        width: 90%;
        height: 10%;
    }
    .error{
        height: 10%;
        min-height: 67px;
    }
    .error p{
        font-size: 1em;
        height: 50%;
    }
    .button{
        height: 10%;
        max-height: 70px;
    }
}
@media screen and (min-width:993px) and (max-width:1450px) and (orientation:portrait){
    .card-login{
        width: 50%;
        height: 80%;
        justify-content: center;
        background-size: 100% 90%;
    }
    .logoLogin{
        width: 80%;
        height: auto;
        max-width: 380px;
    }
    .Form{
        width: 65%;
        height: 85%;
        align-items: center;
        justify-content: space-evenly;
    }
    .email, .password{
        width: 90%;
        height: 10%;
    }
    .email label, .password label{
        font-size: 1.6em;
        top: 0px;
    }
    .error{
        height: 10%;
        min-height: 67px;
    }
    .error p{
        font-size: 1em;
        height: 50%;
    }
    .iconVisibility{
        font-size: 1.5em !important;
    }
    .button{
        height: 10%;
        max-height: 70px;
        font-size: 1.6em !important
    }
}
@media screen and (min-width:1451px){
    .card-login{
        width: 40%;
        height: 80%;
        justify-content: center;
    }
    .logoLogin{
        width: 80%;
        height: auto;
        max-width: 460px;
    }
    .Form{
        width: 65%;
        height: 85%;
        align-items: center;
        justify-content: space-evenly;
        max-width: 760px;
    }
    .email, .password{
        width: 90%;
        height: 10%;
    }
    .email label, .password label{
        font-size: 1.6em;
        top: 0px;
    }
    .error{
        height: 10%;
        min-height: 67px;
    }
    .iconVisibility{
        font-size: 1.5em !important;
    }
    .button{
        height: 10%;
        max-height: 70px;
        font-size: 1.6em !important
    }
}
/* breackpoint tablet
@media screen and (min-width: 601px) and (max-width: 949px) {
    .card-login{
        width: 60%;
        height: 75%;
        max-height: 685px;
        }
        .Form{
            width:50%;
            height:60%;
            min-width: 270px !important;
            align-items:center;
            justify-content:space-evenly !important;
            
        }
        .email, .password{
            width: 90%;
            height: 15%;
        }
} */
/* breackpoint desktop */
/* @media screen and (min-width: 950px) {
    .card-login{
        width: 60%;
        height: 75%;
    }
    .Form{
        width:65%;
        height:65%;
        align-items:center;
        justify-content:space-evenly !important;
    }
    .email, .password{
        width: 90%;
        height: 15%;
        max-height: 70px !important;
    }
    .email label, .password label{
        font-size: 1.1em;
        top: 0;
    }
    .email div, .password div{
        width: 100%;
        height: 100%;
        border-radius: 2em;
        background-color: #fff;
    }
    .button{
        min-height: 50px;
        max-height: 65px;
    }
}
@media screen and (min-width: 950px) and (min-height: 800px) {

        .email label, .password label{
            font-size: 1.3em;
            top: 0;
        }
        .email div, .password div{
            width: 100%;
            height: 100%;
            border-radius: 2em;
            background-color: #fff;
        }
        .button{
            min-height: 50px;
            max-height: 70px;
            height: 14%;
        }
} */