main {
    width: 100vw;
    height: 100vh;
    background: #06294e;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(6, 41, 78, 1) 0%, rgba(6, 51, 97, 1) 7%, rgba(9, 61, 113, 0.9724264705882353) 12%, rgba(3, 69, 124, 0.9948354341736695) 16%, rgba(3, 80, 143, 1) 24%, rgba(3, 80, 143, 1) 74%, rgba(10, 70, 128, 0.97) 84%, rgba(9, 61, 113, 0.98) 90%, rgba(6, 51, 97, 1) 95%, rgba(6, 41, 78, 1) 100%);
}

/* Media query para Tablets y Movile */
.containerBox{
    padding: 0 !important;
    margin: 0!important;
    max-width:none !important;
    width: 100%;
    height: 100%;
}

.makeStyles-boxSecundary-2 {
    animation: logo;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.79, 1.4, 1, 1);
    animation-delay: 3s;
    }
    

@keyframes logo {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(20px);

        }
    }