.toolbar button{
    min-width: 35px;
    min-height: 35px;
    margin: 0;
    padding: 0;
    border-radius: .35em;
    background: #F6B232;
}
.toolbar button:hover{
    background: #F6B232;

}
.buttonPopover{
    width: 100%;
    height: 10%;
}
.misSelect{
    font-size: .75em !important;
    margin: 0 1%;
    width: 100%;
}
.inputLabel{
    background:rgb(247, 244, 244) ;
    width: auto;
    font-size: 10px !Important;
}
.items div span{
    width: 100%;
    font-size: 10px;
}
@media screen and (min-width:1500px) {
    .misSelect{
        font-size: 20px !important;
        margin: 0 1%;
        width: 100%;
    }
    .inputLabel{
        background:rgb(247, 244, 244) ;
        width: auto;
        font-size: 20px;
    }
    .toolbar button{
        min-width: 50px;
        min-height: 50px;
        margin: 0;
        padding: 0;
        border-radius: .5em;
        background: #F6B232;
    }
    .toolbar button:hover{
        background: #F6B232;
    
    }
    .reporte{
        border-radius: 2em !important;
    } 
    .Drawer .MuiDrawer-paper{
        justify-content: space-around;
    } 
    .items div span{
        width: 100%;
        font-size: 10px;
    }  
}

/* .logo {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo img {
    width: 80%;
    height: 100%;
}
.user {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.content-user {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    border-radius: 2em;
}
#user-logo {
    width: 20%;
    height: 85%;
}
#user-name {
    color: #03508f;
}
.content-modi {
    width: 20%;
    height: 100%;
    background: #F6B232;
    border-radius: .5em;
}
.bottons-menu {
    width: 100%;
    height: 100%;
}
#menu {
    position: relative;
    top: -92%;
    left: 7%;
    width: 85%;
    height: 85%;
    z-index: 4;
}
#cancel-menu {
    z-index: 2;
    position: relative;
    top: 4%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.menu {
    height: 80%;
    width: 20%;
    position: fixed;
    top: 20%;
    left: -20%;
    background: #fff;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    justify-content: center;
}
.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
    list-style: none;
}
.menu ul li {
    width: 90%;
    height: 7%;
    border-radius: 1em;
}
.menu ul li:hover {
    background: #2FAC6A;
}
.menu ul li a {
    font-family: Lucida-Sans-Demibold-Roman, sans-serif;    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #022e52;
}
.menu ul li a:hover {
    color: #fff;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: 15%;
} */



.MuiList-root .MuiList-padding .MuiMenu-list .css-6hp17o-MuiList-root-MuiMenu-list{
    display: flex;
    flex-direction: column;
  }