.contenedorActivacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.activarUs{
    width: 35%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../landing/Images/logo-cauadro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.formActivate{
    width: 80%;
    height: 95%;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
}
.logoActivate{
    width: 60%;
    height: auto;
}
.text{
    width: 80%;
    height: 10%;
    background: #fff;
    border-radius: 2em;
    display: flex;
    align-items: center;
}
.textPassword div {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.textPassword{
    width: 80%;
    height: 10%;
    overflow: visible;
}
.buttonConfirm{
    background: #fff !important;
    border-radius: 1.2em !important;
}
.back{
    background: transparent;
    border: 0.2em solid rgb(255, 255, 255) !important;
    min-width: 50px;
    max-width: 70px;
    border-radius: 50% !important;
    padding: 0% !important;
    position: fixed !important;
    left: 1%;
    top: 87%;
    width: 60px;
    height: 60px;
}