.accordion{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.stackButtons{
    width: 100%;
    max-width: 300px;
    display: inline-flex !important;
    flex-direction: row !important;
    justify-content: space-around;
    grid-column:3/4
}
.boxContentItem{
    display: grid !important;
    grid-template-rows: 60% 35%;
    grid-template-columns: 10% 10% 1fr 1fr;
    gap: 5% 1%;
    padding: 0% 4%;
    justify-items: center;
    justify-content: center;
}
.EditarCarousel{
    grid-column: 4/5;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}